* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
@font-face {
    font-family: clockFont;
    src: url(CursedTimerUlil-Aznm.ttf);
}
body {
    font-family: clockFont;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-wrap {
    width: 575px;
    height: 380px;
    margin: 0 auto;
    background: #1B244A;
}
.ng-wrap {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ng-btn {
    height: 100%;
    width: 100%;
    background: #384372;
    border: none;
    color: #EEEEEE;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.main-container {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#EEEEEE;
}
.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 80%;
}
.main-wrap > h3 {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: Verdana;
}
.score-wrap {
    width: 100%;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.score-wrap > span {
    color: #F94F6D;
}
.points-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.points-wrap > button {
    background: rgb(35, 45, 90);
    border: 2px solid #9AABD8;
    color: #9AABD8;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}